* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

header {
    text-align: center;
    font-size: 2rem;
    padding: 0.6rem;
}

section {
    background-color: rgb(111, 159, 122);
    padding: 0.5rem;
}

h2 {
    color: aliceblue;
    text-align: center;
    padding: 0.5rem;
}

img {
    display: block;
    margin: 0 auto;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0.5rem;
}