body{
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c6d3ed;
    color: #063b28;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 1.5em;
}

.hero-img {
    height: 300px;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.cta h2 {
    font-size: 1.5rem;
}

.cta a {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #e7f1eb;
        color:#063b28 ;
    text-decoration: none;
    border-style: double;
    border-radius: 5px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #e7f1eb;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    color:#063b28;
    text-decoration: none;
    padding: 10px;

}

nav ul li a:hover {
    background-color: #c6d3ed;
}

#theButton::before{
    content: "\2630";
}

#theButton{
    font-size: 2rem;
    background: none;
    border: none;
    color: #063b28;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 0;
    right: 3vw;
}

ul.menu.open {
    display: block;
}

ul.menu {
    display: none;
    list-style-type: none;
}

#theButton.open::before {
    content: "X";
}

main {
    padding: 10px;
    color: #063b28;
    background-color: #C9B1BD;
    font-family: "Courgette", cursive
}

section {
    margin-bottom: 10px;
}

#current-events, #weather, #spotlights{
    display: inline-block;
    padding: 20px 40px;
    background-color: #e7f1eb;
    color: #063b28;
    border-style:ridge;
    text-decoration: none;
    border-radius: 10px;
}

footer {
    background-color: #c6d3ed;
    color: #063b28;
    text-align: center;
    padding: 10px 0;
}

#currentYear, #lastModified {
    color: #063b28;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.attractions, .data, .calendar {
    border-style: dashed;
    color: #063b28;
    border-radius: 5px;
    margin-bottom: 20px;
}

.attractions, .data, .calendar h3 {
    text-align: center;

}

.attractions, .data, .calendar p {
    text-align: center;
    
}

.sidebar {
    margin: 50px;
    border: 10px;
    border-style: double;
    border-radius: 15px;
    background-color: #e7f1eb;
    padding: 40px;
}

.content {
    margin: 50px;
    padding: 50px;
    border: 10px;
    border-style: double;
    border-radius: 15px;
    background-color: #e7f1eb;
}

.image {
    display: grid;
    grid-template-columns: 4fr 4fr;
    
}


.label {
    font-size: larger;
}

picture {
    width: 100%;
    height: auto;

}

/* Join */

.join {
    font-family: "Poetsen One", sans-serif;
    margin: 50px;
    padding: 50px;
    border: 10px;
    border-style: double;
    border-radius: 15px;
    background-color: #e7f1eb;
}

.join fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;    
}

.join legend {
    color: #143428;
    padding: 0 .5rem;
}

.join label {
    display: block;
    padding-top: 1rem;
    color: #143428;
    font-size: .9rem;
}

.join div {
    font-size: .9rem;
    color:#143428;
    padding: 0 .5rem;
}

.join input[type="text"],
.join input[type="tel"],
.join input[type="email"], 
.join input[type="date"],
.join select,
.join input[type="number"] {
    background-color: #fcfbfb;
    display: flex;
    border: solid 1px #242b25;
    border-radius: 6px;
    padding: .75rem;
    color: #272d29;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.join input[type="radio"],
.join input[type="checkbox"] {
    margin-right: 6px;

}

.join textarea {
    color: #233f36;
}

.join input[type="submit"] {
    border: ridge;
    background-image: linear-gradient(rgb(197, 197, 227), rgb(106, 106, 137));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #537167;
    
}

.join input:required {
    border-left: solid 8px rgb(199, 170, 205);
}

.join input:required:valid {
    border-left: solid 8px rgb(127, 162, 127);
}


table {
    margin: 10px auto;
    border: thin solid;
    box-shadow: 0 0 10px;
    border-collapse: collapse;
    font-family: "Poetsen One", sans-serif;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: #242b25;
    font-size: .85rem;
}

th, td {
    padding: 7px 15px;
    border: 1px solid;
}


th {
    background-color:#fcfbfb;
    font-size: larger;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #fcfbfb;
}

tbody tr:nth-child(odd) {
    background-color:rgb(241, 226, 244);
}

/*Directory*/

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#cards section {
    border: 2px #233f36;
    border-style: double;
    padding: 10px;
    text-align: center;
}

.card img {
    border: 1px #063b28;
    box-shadow: 0 0 10px #242b25;
}

.card h4 {
    font-family: "Poetsen One", sans-serif;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section h2,h4 {
    font-size: 1rem;
    font-family: "Poetsen One", sans-serif;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Poetsen One", sans-serif;
    font-size: 0.05rem;
    color:#537167;

}

section img {
    display: grid;
    grid-template-columns: 4fr 4fr;
}