@media screen and (min-width: 600px) {
    header h1 {
        font-size: 3rem;
    }
    
    .hero-img {
        height: 500px;
    }

    .cta {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .cta h2 {
        font-size: 3rem;
        color:#063b28;
    }

    .cta a {
        display: inline-block;
        padding: 15px 30px;
        background-color:  #e7f1eb;
        color:#063b28 ;
        text-decoration: none;
        border-style: double;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-top: 20px;

    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    nav ul li a {
        padding: 15px 30px;
    }

    main {
        padding: 20px;
    }

    picture:hover {
        box-shadow: 0 0 50px #333;
    }

    section {
        padding: 20px;
    }

    #theButton {
        display: none;
    }

    ul.menu, ul.menu.open {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
    }

    ul.menu a:hover {
        background-color: #c6d3ed;
    }

    ul.menu li {
        margin: auto;
    }

    #current-events, #weather, #spotlights {
        display: inline-block;
        padding: 25px 50px;
        background-color:  #e7f1eb;
        color:#063b28 ;
        text-decoration: none;
        border-radius: 10px;
        font-size: 1.5rem;
        margin: 50px;
    }

    #weather h2 {
        text-align: center;
    }


    .weather-card {
        display: flex;
        justify-content: right;
    }

    .spotlights .spotlight {
        margin-bottom: 50px;
    }


    table {
        margin-right: 50px;
        background-color: #e7f1eb;
        padding: 40px;
    }
    
    
    
}