
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
}

header {
    background-color: #cea0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px rgb(188, 89, 89);   
}

header, main {
    margin: 0 auto;
}

header h1 {
    color: #042f0a;
    font-size: 2rem;
}

#pic-image {
    border-radius: 100%;
    width: 7rem;
    border: 5px solid #042f0a;
    
}

nav {
    background-color: #8e4343;
    color: rgb(58, 5, 23);
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

nav a {
    display: block;
    color:#f2f3f1;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #a84949;
    color: rgb(58, 5, 23);
}

/*main {
    background-color: #f2f3f1;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}*/
main {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 1rem;
}

main h1 {
    color:#042f0a;
    font-size: 3rem;
    padding: 1rem;
}

main h2 {
    color:  rgb(58, 5, 23);
    font-size: 1.5rem;
    padding: 0.5rem;
}

.card {
    border: 2px rgb(50, 64, 52);
}


.card a:hover {
    background-color: #a84949;
    color: rgb(58, 5, 23); 
}

.card h2 {
    font-size: 2.5rem;
    color: #a84949 ;
    background-color: #f2f3f1;
    padding: 2rem;
    margin-top: 0;
}

.card li {
    list-style: none;
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(50, 64, 52);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a84949 ;
    color: #f2f3f1;
    font-size: 1.5rem;
    padding: 20px;
}

#currentYear, #lastModified {
    color:rgb#f2f3f1;
}