@media screen and (min-width: 600px) {
    body {
        font-size: 2rem;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    #myButton {
        display: none;
    }

    ul.menu, ul.menu.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menu a:hover {
        background-color:#a84949;
    }

    main {
        grid-template-columns: 1fr auto;
    }

    .activities {
        grid-row: 2/3;
    }

    .info {
        grid-row: 2/3;
    }

    main h2 {
        text-align: left;
        font-size: 2rem;
        
    }
}