@media screen and (min-width: 600px) {
    body {
        font-size: 2rem;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        grid-template-columns: 0.8fr auto;
    }

    .activities {
        grid-row: 2/3;
    }

    .info {
        grid-row: 2/3;
    }

    main h2 {
        text-align: left;
        font-size: 2rem;
    }
}